.card-icon{
    height: 20px;
    width: 40px;
}

/*Xóa !important của text-white trong file mdb.min.css để override, chrome oke, firefox không được*/
.text-white:hover{
    color: #249EB2;
}

